.NavBar {
  background-color: #a0a0a0;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #636363;
}

nav h1 {
  font-family: "Playwrite IN", serif;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.NavLink {
  color: #ffffff; /* Navbar text color */
  text-decoration: none;
}

.active-dropdown-item {
  background-color: grey !important; /* Gray background for active links */
  color: white !important; /* Ensure text is readable */
}

.active-dropdown-item:hover {
  background-color: pink !important; /* Darker gray on hover */
}